.nav-link{
    color: white !important; 
    border: 1px solid grey!important;

}

.dropdown-menu {
    --bs-dropdown-bg: black!important;
    border: 1px solid grey!important;
    --bs-dropdown-link-color:white!important;
}